div {
  font-family: monospace; 
  margin: 0;
  padding: 0;
  background-color: #f8fdfb; 
  color: #333;
  line-height: 1.6;
}

.ex-fac-vol{
  color: #000;
}

.container > h1{
  color: #fff;
  margin-bottom: 0.5rem;
}



header > p{
  color: #fff;
}

p {
  margin-bottom: 1rem;
  color: #555;
  font-size: 16px;
}

a {
  color: #00796b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

button,
a.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
a.button:hover {
  background-color: #1b5e20;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #e0f2f1;
  color: #004d40;
  font-size: 0.9rem;
  border-radius: 5px;
}

header {
  background-color: #6d0000; 
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-bottom: 5px solid #ff0000;
  border-radius: 5px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header p {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 2rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.chart-container {
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    padding: 1rem;
  }
}

.lauzhack-logo{
  width: 100%;
}

.charts-link{
display: flex;
justify-content: center;
padding: 10px 20px;
margin-bottom: 10px;
border-radius: 10px;
background-color: #6d0000;
font-family: monospace;
width: 100%
}

.charts-link:hover{
  background-color: #920101;
  color: #fff;
  transition: ease-in-out 0.2s;
}

input[type="file"]{
  display: none;
}

.attach-file{
  font-size: 16px;
  font-weight: bold;
  background-color: #6d0000;
  border-radius: 10px;
  color: #fff;
  padding: 10px 15px;
}

.attach-file:hover{
  cursor: pointer;
  background-color: #920101;
  transition: ease-in-out 0.2s;
}

.fa-folder-open{
  margin-right: 10px;
}

.selected{
  background-color: #c8e6c9;
  border: 2px solid #920101;
}